{% load cms_tags menu_tags sekizai_tags static i18n %}
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'index' %}">Psy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                           {% show_menu from_level to_level extra_inactive extra_active "menu/login_form.html" "" "" child %}

                           {% for child in children %}
                            <li class="nav-item text-center {% if child.ancestor %}ancestor{% endif %}{% if child.children %} dropdown{% endif %}">
                                {% if child.children %}<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="{{ child.get_absolute_url }}" id="menu-{{ child.id|safe }}">{{ child.get_menu_title }}</a>
                                    <div class="dropdown-menu" aria-labelledby="menu-{{ child.ancestor.id|safe }}">
                                        {% show_menu from_level to_level extra_inactive extra_active "menu/dropdown.html" "" "" child %}
                                    </div>
                                {% else %}
                                    <a class="nav-link{% if child.selected %} active{% endif %}" href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
                                {% endif %}
                            </li>
                            {% endfor %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="{% url 'bloghome' %}">Blog Home</a></li>
                                    {% if user.is_authenticated and perms.post.create_post %}
                                    <li><a class="dropdown-item" href="{% url 'create_post' %}">Create Article</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </main>
<a href="{% url "social:begin" "google-oauth2" %}">Google+</a>

