{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags static i18n %}

{% block title %}About us{% endblock %}

{% block content %}
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Our mission is to make mental health accessible for everyone.</h1>
                                <p class="lead fw-normal text-muted mb-4">
                                    Mental health issue is on the rise since COVID-19, now there is a war in Europe.
                                    We have millions people who lost their home, family and sources of income </p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/sunset_960_720.jpg' %}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">At the moment we are at the developing stage and we are looking for contributors and collaborators - backend, frontend, content and of course psychology and psychiatry professionals.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'assets/AI.jpg' %}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">AI powered</h2>
                            <p class="lead fw-normal text-muted mb-0">DS collaborators are welcome!</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to help</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        {% for user in users %}

                                <div class="col mb-5 mb-5 mb-xl-0">
                                    <div class="text-center">
                                        <img class="img-fluid rounded-circle mb-4 px-4" src="{{user.userprofile.photo.url}}" alt="100x100" style="height:100px; width: 100px" />
                                        <h5 class="fw-bolder">{{user.userprofile.name}}</h5>
                                        <div class="fst-italic text-muted">{{user.userprofile.occupation}}</div>
                                    </div>
                                </div>

                        {% endfor %}

                    </div>
                </div>
            </section>

{% endblock %}
